body,div,ul,li,img,html{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
.noFloat:after{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}






.main{
    width: 450px;
    margin: 20px auto 0;
    position: relative;
}
.main .arrow{
    position: absolute;
    top: 450px;
    left: -100px;
}
.main .arrow a{
    display: block;
    width: 35px;
    height: 32px;
    background: url("images/controls.png");
    line-height: 50px;
    text-align: center;
}
.main .arrow a:first-child{
    position: absolute;
    left: 600px;
    background-position: -40px 0;
}
.main ul{
    position: relative;
}

.main ul .title{
    display: none;
    width: 450px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #666;
    position: absolute;
    top: 770px;
}
.main .slider li:first-child{
    display: block;
}
.main .slider li{
    display: none;
    width: 450px;
    height: 799px;
    position: absolute;
}
.main ul li img{
    width: 450px;
}



.main .ctrl{
    position: absolute;
    top: 850px;
    left: 100px;
}
.main .ctrl li:first-child{
    background: #666666;
}
.main .ctrl li{
    color: transparent;
    display: block;
    float: left;
    width: 20px;
    background: yellow;
    margin-right: 20px;
    border-radius: 10px;
}